* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(https://wallpapercave.com/wp/wp12738484.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1600px;
    width: 100%;
}

.game-area, .rules {
    padding: 20px;
    height: auto;
    overflow-y: auto;
}

.game-area {
    background-color: white;
    border-radius: 10px 0 0 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rules {
    background-color: #f0f0f0;
    border-radius: 0 10px 10px 0;
    flex: 1;
    font-size: 22px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#balance, #bet{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

#best-balance, #max-bet {
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

.bet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bet-input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ccc;
    flex: 1;
    height: 50px;
}

#bet-input, #place-bet-button {
    width: auto;
    min-width: 200px;
    max-width: 300px;
}

#place-bet-button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

#dealer-hand, #player-hand {
    margin-top: 20px;
}

.cards-container {
    min-height: 80px;
    margin-bottom: 15px;
    font-size: 36px;
}

.red-card {
    color: red;
}

.action {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

button {
    padding: 12px 24px;
    font-size: 23px;
    cursor: pointer;
    background-color: #242424;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1b440f;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

#messages {
    min-height: 40px;
    margin-top: 20px;
    font-weight: bold;
    color: #e74c3c;
    font-size: 25px;
}

.rules ul {
    padding-left: 20px;
}

.rules li {
    margin-bottom: 15px;
}

.rules a {
    color: #000000;
}

.rules a:hover {
    text-decoration: underline;
}